<tr>
  <td><%= link_to producer.name, :action => 'show', :id => producer %></td>
  <td><%= link_to 'Editar', :action => 'edit', :id => producer %></td>
  <td>
    <%= button_to 'Eliminar', { :action => 'destroy', :id => producer },
        data: { confirm: "¿Seguro que quieres eliminar la productora #{producer.name}?" } %>   
  </td>
</tr>
