<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
		<title><%= @subject =%></title>
	<style></style>
	</head>
	<body>

	<p>&nbsp&nbsp&nbspEstimado <%=@user.name%>:</p>

	<p>&nbsp&nbsp&nbspSe ha realizado una petición para restaurar su contraseña.
	Si usted no la realizó, simplemente ignore este email.
	Si la realizó, haga click en el siguiente enlace:</p>

	&nbsp&nbsp&nbsp<%=link_to @edit_password_reset_url, @edit_password_reset_url%>

	<p>&nbsp&nbsp&nbspSi el enlace no funciona, intente copiarlo y pegarlo en la barra de su navegador.
	Si continúa teniendo problemas, por favor contácte con nosotros.</p>

	<p>&nbsp&nbsp&nbspQue tenga un buen día</p>

	</body>
</html>
